{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <script src="./jqeury.js"></script>
    <script src="./jsqrcode-combined.js"></script>
    <script src="./html5-qrcode.js"></script>
    <video id="preview"></video>
        
</head>
   

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
   <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" rel="nofollow"></script>
   <script type="text/javascript"></script>
    
    <body>
        
        
        
        <div  id="demo" style= "margin: auto;  padding-left: 10px ;">Please Wait</div>
        
        <div id = "form"   >
            <h1 id= "scanner1h1">Form for adding to folder</h1>
        <form method="POST" enctype="multipart/form-data"   >
            <div id= 'holders'>
            <!-- Security token -->
            {% csrf_token %}
          
            <!-- Using the formset -->
            
            {{form}}
        </div>
              
           <div id = 'buttons' >
            <br><input id = 'submit' type="submit"  value="Submit" />
            <input type="reset" value="Cancel" style="background:red; font-size: large; float:centre; margin-top: 0.5cm; margin-left: 1cm;" />
            <br>
            <button style="background:rgb(15, 108, 230); font-size: large; margin-top: 0.5cm; margin-left: 0.5cm;"; onclick="window.location.href = '/templates/home/update.html'">Update</button>
            <!-- <button style="background:rgb(15, 108, 230); font-size: large; margin-top: 0.5cm; margin-left: 0.5cm;"; onclick="window.location.href = "{ % url 'detail' Trackerscanner.package_id %} ">Detail</details></button> -->
            
            <button style="background:rgb(15, 108, 230); font-size: large; margin-top: 0.5cm; margin-left: 0.5cm;"; onClick="window.location.reload();">Refresh Page</button>
           </div>
        </form>

        </div>
        
        

<script>
    
    var scanner = new Instascan.Scanner( { video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    scanner.addListener('scan',function(content){
        //alert(content);
       // window.location.href =scanner;
        document.getElementById("demo").innerHTML =  " <h1>Code scanned successfully!</h1> "+  content;
        document.getElementById("cust").value = content;
        
        
    });
    Instascan.Camera.getCameras().then(function (cameras){
        if(cameras.length>0){
            scanner.start(cameras[0]);
            $('[name="options"]').on('change',function(){
                if($(this).val()==1){
                    if(cameras[0]!=""){
                        scanner.start(cameras[0]);
                    }else{
                        alert('No Front camera found!');
                    }
                }else if($(this).val()==2){
                    if(cameras[1]!=""){
                        scanner.start(cameras[1]);
                    }else{
                        alert('No Back camera found!');
                    }
                }
            });
        }else{
            console.error('No cameras found.');
            alert('No cameras found.');
        }
    }).catch(function(e){
        console.error(e);
        alert(e);
    });

</script>

    
</body>
</html>