{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}

<div id="home1" class="tabcontent">
    <h1> Live Tracker </h1>
    <p> Find the exact location of Package</p>

    <form method="post" action="#" id="tracker" class="Input">
        {% csrf_token %}
        <input name="Orderid" id="Orderid" class="search1" type="text" placeholder="Order Id">
        <input name="OrderDate" id="OrderDate" class="date1" type="date" placeholder="Order date">
        <button class="homebtn" type="submit"> Search </button>
    </form>

    <div class="updates">
        <ul class="list-group" id="items">
        </ul>
    </div>

</div>



{% endblock body %}

{% block js %}
<script>
    $('#tracker').submit(function (event) {
        $('#items').empty();
        var formData = {
            'Orderid': $('input[name=Orderid]').val(),
            'OrderDate': $('input[name=OrderDate]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        };

        $.ajax({
            type: 'POST',
            url: '',
            data: formData,
            encode: true
        })

            .done(function (data) {
                console.log(data)
                updates = JSON.parse(data);
                if (updates.length > 0 & updates != {}) {

                    for (i = 0; i < updates.length; i++) {
                        let gpslink = updates[i]['char'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                            <a  href="${gpslink}">Your Order Location ...</a>
                        </li>`
                        $('#items').append(mystr)

                    }
                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                        Sorry . Please enter valid Order Id and Order Date </li>`
                    $('#items').append(mystr)
                }

            });

        event.preventDefault();


    })
</script>

{% endblock js %}