#image{
    display: flex;
    /* height: 400px; */
    padding: 20px 32px;
    background-image: url(../img/scanner5.jpg);
    position: relative;
    height: 20cm;
    width: 33.43cm;
    flex-direction: column;
    
}
h1{
        font-style: italic;
        float: left;
        padding-top: 2cm;
        padding-bottom: 1cm;
        
}
tr.myfont {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-size:larger;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-size:large;
  }
.myfont{
    font-style: italic;
    color: blue;
}


